/OthelloMove.class
/OthelloPlayer.class
/OthelloRandomPlayer.class
/OthelloState.class
/Test.class
/ASlightlyBetterOthelloPlayer.class
/ASlightlyBetterOthelloPlayer2.class
/MCNode.class
/MonteCarloPlayer.class
/Main.class
/HumanPlayer.class
/ChoiceSelector.class
/AgentSelector.class
/PlayerSelector.class
